
.signin_b{
margin-left:10px;
}

.signup_b{
margin-left:5px;
margin-right:5px;
margin-top:8px;
}

.raw_input{
background-color: #ecf0f1;
}

.txt_s{
color: #ecf0f1;
}
div{
}

.big_attractive{
font-size: 90px;
}

.bottom_row{
margin-bottom: 0;
background: #e67e22;
}

.upper_row{
background: #16a085;
}

