
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 19px;
    font-size: 17px;
    line-height: 1.471;
    border-radius: 6px;
}
.btn-primary {
    color: #ffffff;
    background-color: #1abc9c;
}
.btn-success {
    color: #ffffff;
    background-color: #2ecc71;
}

.form-control, .select2-search input[type="text"] {
    border: 2px solid #bdc3c7;
    color: #34495e;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.467;
    padding: 8px 12px;
    height: 35px;
    border-radius: 6px;
    box-shadow: none;
    -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.signin_b{
margin-left:10px;
}

.signup_b{
margin-left:7px;
margin-right:5px;
margin-top:8px;
}

.raw_input{
background-color: #ecf0f1;
}

.txt_s{
color: #ecf0f1;
}
div{
}

.big_attractive{
font-size: 90px;
}

.bottom_row{
margin-bottom: 0;
background: #e67e22;
}

.upper_row{
background: #16a085;
}

