@import model.Record
@(name:String, records:List[Record])

@bootstrap("Aircheck"){
<link rel="stylesheet" href="@routes.Assets.versioned("css/index_logined.css")">
<link rel="stylesheet" href="@routes.Assets.versioned("css/common.css")"

<div>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="color: #34495e;">
        <div class="navbar-header">
            <a class="navbar-brand">Aircheck</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Console</a></li>
                <li><a href="/visualize">Visualize</a></li>
            </ul>
            <a class="btn btn-danger pull-right" href="/user/logout" role="button">Logout</a>
            <a class="navbar-brand pull-right">Welcome:  @name</a>
        </div><!--/.nav-collapse -->
    </nav>
</div>
<div class="container">
    <div class="upper-row">
        <div class="row ">
            <br>
            <br>
            <br>
        </div>
        <div class="row dashboard-row">
            <div class="col-md-3">
                <div class="tile">
                    <h2 class="text-center dashboard-title">Total</h2>
                    <p class="text-center">You totally have <b>@records.length</b> records stored in the backend.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tile">
                    <h2 class="text-center dashboard-title">In an hour</h2>
                    <p class="text-center">You update <b>20</b> records to the server this hour.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tile">
                    <h2 class="text-center dashboard-title">Last Update</h2>
                    <p class="text-center">At <b>16:14</b> you update your latest record.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="tile">
                    <h2 class="text-center dashboard-title">Server Total</h2>
                    <p class="text-center">Server currently hosting <b>50</b> pieces of data.</p>
                </div>
            </div>
        </div>
    </div>
</div>
}

